:root {
  --first: #69779b;
  --second: #9692af;
  --third: #acdbdf;
  --fourth: #d7eaea;

  --stop: #cd4545;
  --pause: #f3cf7a;
}

body {
  width: 250px;
}

.menu {
  display: flex;
  justify-content: space-around;
  margin-top: 15px;
}

.menu > *:not(:last-child) {
  margin-right: 5px;
}

#issues-list {
  width: 250px;
}

#timer-actions {

}

#timer-on__actions {

}

#timer-on__actions.display-none,
#timer-start.display-none {
  display: none;
}

#timer-start {
  background-color: var(--second);
}

#timer-stop {
  background-color: var(--stop);
}

#timer-pause {
  background-color: var(--pause);
}

.section {
  margin-bottom: 15px;
}

.display-none {
  display: none;
}

.selected-issue {
  font-size: 14px;
}

.selected-issue__label {
  font-weight: 700;
  display: block;
  margin-bottom: 5px;
}

.selected-issue__text {
  display: block;
}

.selected-issue__time {
  margin-top: 5px;
}

#selected-issue__refresh-btn {
  cursor: pointer;
}

.btn {
  border: none;
  background-color: var(--fourth, gray);
  cursor: pointer;
  color: white;
  padding: 8px 16px;
  outline: none;
}

.menu-selected {
  font-weight: 700;
  background-color: var(--third, gray);
}

#issues-filters {
  display: flex;
  justify-items: center;
  align-items: center;
  flex-wrap: wrap;
}

#issues-filters span {
  text-align: center;
  display: block;
  color: #615d5d;
  cursor: pointer;
  user-select: none;
}

#issues-filters .issues-filters__filter-selected {
  color: black;
  font-weight: 700;
}

#issues-filters span:not(:last-child) {
  margin-right: 10px;
}

.error {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 999;
  background: #615d5d;
  opacity: .9;
  color: white;
  display: none;
  top: 0;
  left: 0;
  align-items: center;
  text-align: center;
  user-select: none;
}

.error-show {
  display: flex;
}